@mixin color-invertido{
    background-color: #111111;
    color: #eee;
}

h1{
    font-size: 1.3em;
    padding: 15px;
    @include color-invertido;
}

h2{
    padding: 5px;
    @include color-invertido; 
}