h1, h3{
    text-align: center;
}

img{
    width: 90%;
}


.container{
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    width: 80%;
    /*background-color: cadetblue; */
}

.item{
    text-align: center;
    /*background-color: antiquewhite; */
    width: 30%;
    height: 400px;
}